<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>this site was created by Md Wahid Ali. It uses data from mapbox.con and darksky.net</p>
            <img class"portrait" src="./img/wahid.png">
        </div>
        
        
        {{>footer}}

    </body>
</html>