body{
    list-style: none;
    max-width: 650px;
    color: #333;
    font-family: Arial;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content{
    flex-grow: 1;
}

footer{
    color: #888;
    padding: 16px 0;
    margin-top: 16px;
    border-top: 1px solid #eee;
}

header{
    margin-top: 16px;
    margin-bottom: 48px;
}

h1{
    font-size: 64px;
    margin-bottom: 16px;
}

.main-content img .portrait {
    min-width: 320px;
}

header a{
    color: #8888;
    margin-right: 16px;
    text-decoration: none;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
}

button{
    cursor: pointer;
    padding: 8px;
    border: 1px solid #888;
    background: #888;
    color: white;
}

